# Ignore dataset folder
/ct_seg/data/
/xray_seg/data/

# Ignore log files
*.log

# Ignore any temporary files
*.tmp
*.bak
*.pth
*.pt
*.ckpt

# Ignore any compiled files
# Python
__pycache__/
*.py[cod]
*$py.class

# Ignore model checkpoints and outputs (if applicable)
/ct_seg/outputs/
/ct_seg/models/chatgptPrompts.md

/MedSAM

*.mha
temp_*