# Ignore dataset folder
/ct_seg/data/
/xray_seg/data/

# Ignore log files
*.log

# Ignore any temporary files
*.tmp
*.bak
*.pth

# Ignore any compiled files
*.pyc

# Ignore model checkpoints and outputs (if applicable)
/ct_seg/outputs/
/ct_seg/models/chatgptPrompts.md
